<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fakeflickr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CABB9A41DE15EA500603B18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CABB9B81DE15EA500603B18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CABB9C31DE15EA500603B18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
